<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Kevin Tung</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'boards'}} Boards {{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>

